﻿/*! 6 !*/
html 
{
  width: 100%;
  height: 100%;
}

body 
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div, label, img, button, body 
{
  box-sizing: border-box;
}

.label
{
  pointer-events: auto;
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

label 
{
  flex-grow: 1;
}

.graphic
{
  pointer-events: auto;
  display: block;
  outline: 0;
  margin: 0;
  padding: 0;
}

.button
{
  position: relative;
  pointer-events: auto;
  /*display: flex;*/
  /*flex-direction: column;*/
  border: none;
  outline: 0;
  margin : 0;
  padding: 0;
  background-color: transparent;
}

.canvas
{
  pointer-events: auto;
  margin: 0;
  padding: 0;
}

.overlay
{
  pointer-events: auto;
  margin: 0;
  padding: 0;
}

.edit 
{
  pointer-events: auto;
  border-style: none;
  margin: 0;
  padding: 0;
}

.memo 
{
  pointer-events: auto;
  border-style: none;
  outline: none;
  resize: none;
  overflow: auto;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.hlayout 
{
  display: flex;
  flex-direction: row; 
  margin: 0;
  padding: 0;
}

.hlayoutitem
{
  position: relative;
  display: flex;
  flex-direction: column; 
  /*height: 100%;*/
}

.vlayout 
{
  display: flex;
  flex-direction: column; 
}

.vlayoutitem
{
  position: relative;
  display: flex;
  flex-direction: column; 
  /*width: 100%;*/
}

.hscroll 
{
  position: relative;
  pointer-events: auto;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.vscroll 
{
  position: relative;
  pointer-events: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.socket 
{
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
         
.Stretch
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: column; 
}

.StretchLeft
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start;
}

.StretchRight
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-end;
}

.StretchCenter
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.TopLeft
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: flex-start;
}
         
.TopRight
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: flex-start;
}
         
.TopCenter
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: flex-start;
}
         
.TopStretch
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: flex-start;
}
         
.BottomLeft
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: flex-end;
}
         
.BottomRight
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: flex-end;
}

.BottomCenter
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: flex-end;
}
         
.BottomStretch
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: flex-end;
}

.CenterLeft
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center;
}

.CenterRight
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: center;
}

.Center
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}

.CenterStretch
{
  position: relative;
  pointer-events: none;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}